@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Xuxu - Abobrinha</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <a class="btn btn-info" asp-action="Create">Novo Produto</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">

    </thead>
    <tbody>

        <tr>
            <td class="text-right">
                <a class="btn btn-warning" asp-action="Details"><spam class="fa fa-search">Editar</spam> </a>
                <a class="btn btn-info" asp-action="Edit"><spam class="fa fa-pencil-alt"></spam>Visualizar</a>
                <a class="btn btn-danger" asp-action="Delete"><spam class="fa fa-trash"></spam>Excluir</a>
            </td>
        </tr>

    </tbody>
</table>